<!DOCTYPE html>
<html lang="pt-BR">

  <%- include("includes/head") %>

  <body>
    <%- include("includes/navbar") %>

    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6 my-4">
          <h1 class="text-center">Editar Contato</h1>

          <%- include("includes/errorMessages") %>

          <div class="row my-4 p-0">
            <div class="col-2"></div>

            <div class="col-8">
              <form class="contact-form" action="/contacts/edit/<%= contact._id %>" method="post">
                <!-- <input type="hidden" name="_csrf" value="<%# csrfToken %>"> -->
                <input type="hidden" id="input-id" value="<%= contact._id %>" name="">

                <div class="mb-3">
                  <label for="name" class="form-label">Nome</label>
                  <input value="<%= contact.name %>" type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">
                  <div id="name-message" class="invalid-feedback"></div>
                </div>

                <div class="mb-3">
                  <label for="last-name" class="form-label">Sobrenome</label>
                  <input value="<%= contact.lastName %>" type="text" name="last-name" class="form-control" id="last-name" aria-describedby="emailHelp">
                  <div id="last-name-message" class="invalid-feedback"></div>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input value="<%= contact.email %>" type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                  <div id="email-message" class="invalid-feedback"></div>
                </div>

                <div class="mb-3">
                  <label for="phone" class="form-label">Telefone</label>
                  <input value="<%= contact.phone %>" type="tel" name="phone" class="form-control" id="phone">
                  <div id="phone-message" class="invalid-feedback"></div>
                </div>

                <button type="submit" class="btn btn-primary mb-3">Salvar</button>
              </form>
            </div>

            <div class="col-2"></div>
          </div>
        </div>

        <div class="col-lg-3"></div>


      </div>
    </div>

    <%- include("includes/scripts") %>
  </body>
</html>
